# dependencies
node_modules/

# output
.next/
dist/

# codegen
codegen/

# logfiles
*.log

# test
coverage/
junit/

# cache
.eslintcache
.stylelintcache

# environments
.env*
!.env.example

# Editor
.vscode/
!.vscode/extensions.json

# Storybook
storybook-static/
