{
  "overrides": [
    {
      "files": ["./**/*.graphql"],
      "parser": "@graphql-eslint/eslint-plugin",
      "plugins": ["@graphql-eslint"],
      "parserOptions": {
        "schema": "./src/graphql/schema.graphql"
      }
    }
  ]
}
